@import './variables';

// Base styles
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $white;
  color: #222;
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: $cyan;
  }
}